:root {
  --r-main-font: 'Univers LT Std';
  --r-main-font-stretch: condensed;
  --r-heading-font: 'Univers LT Std';
  --r-heading-font-stretch: extra-condensed;
  --r-heading-font-weight: 500;
  --r-heading-letter-spacing: 0;
  --r-main-font-size: 30px;
}

.reveal { font-stretch: var(--r-main-font-stretch); }

.reveal :is(h1,h2,h3,h4,h5,h6) {
  font-stretch: var(--r-heading-font-stretch);
}

.right { float: right; }

img.right, .right img { max-width: 30em; }

figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

.defs { display: none; }

pre { font-size: 80%; }

.squish {
  font-stretch: condensed;
  font-size: 80%;
}

.references {
  font-stretch: condensed;
  text-align: left;
  font-size: 70%;
}

ul li { font-size: 90%; }

code span.kw { color: hsl(100deg, 80%, 80%); }
code span.dt { color: hsl(30deg, 90%, 70%); }
code span.ot { color: var(--r-main-color); }
